<% for(let x=0;x<=data.length-1; x++){ %>
    <div class='note' note_id="<%= x %>" id="note_element">
        <div class='note_title' id="<%= data[x].note_title %>" onclick="ShowNote(event)"><%= data[x].note_title %></div>
        <form action="/delete" onsubmit="return deleteNote('<%= data[x].note_title %>')" method="post">
            <input hidden  value="<%= x %>" name="note_id" />
            <button class='delete-note-btn' id="<%= x %>">Delete</button>
        </form> 
        <div class="note_content-display" id="<%= data[x].note_title %>-content"><%= data[x].note_content %></div>
    </div>
<% } %>